:root{
--brand-theme:#333333;
--breadcrumb_image:url("../../../image/catalog/otherimage/breadcrumb.png");
--breadcrumb_color:#f5f5f5;
--seprator:url("");
--headernav_bgcolor:#333333;
--headernav_textcolor:#ffffff;
--header_bgcolor:#ffffff;
--header_textcolor:#333333;
--header_text_hovercolor:#ffffff;
--btn_bgcolor:#ffffff;
--btnhover_bgcolor:#333333;
--btn_textcolor:#333333;
--btnhover_textcolor:#ffffff;
--footer_bgimage:url("../../../image/catalog/otherimage/footerbg.png");
--footer_bgcolor:#232323;
--footer-title-color:#e6f2db;
--footer-text-color:#eeeeee;
--footer-hover-text-color:#e6f2db;
--footerafter-bgcolor:;
--footerafter-text-color:#eeeeee;
}